 <section class="allSections container-services text-[#FCFAF8] flex  md:flex-col justify-center items-center " >
    <div class=" flex flex-col items-center md:items-start gap-8 py-28">
         <div class=" w-[240px] md:w-[400px] lg:w-auto title-services flex flex-col gap-4">
        <p class="text-xl md:text-4xl font-bold">¿Que ofrecemos?</p>
        <p class="text-md md:text-lg font-medium mt-2">Diseñamos y transformamos espacios con soluciones a medida para cada necesidad.</p>
    </div>
<div class="cards-components  flex lg:flex-row flex-col gap-10 justify-center items-center">
    @for (item of services; track item.id) {
    <app-card-services [title]="item.title" [imageUrl]="item.imageUrl" [text]="item.text">
    </app-card-services>
    }
</div>
    </div>
   
</section>