<section class="container-contact flex justify-center items-center min-h-screen">
    <div
        class="animation flex flex-col justify-between items-center w-[800px] p-10 rounded-[20px] bg-[rgba(219,134,39,0.60)] shadow-md backdrop-blur-[4px] gap-5">
        <p class="text-white text-4xl font-bold mb-4">
            {{ titulo }}
        </p>
        <p class="text-white mb-6 text-xl font-semibold">
            {{ descripcion }}
        </p>
        <div class="flex gap-4">
            <p class="text-white text-lg">{{ email }}</p>
            <p class="text-white text-lg">{{ instagram }}</p>
            <p class="text-white text-lg"> {{ telefono }}</p>
        </div>
    </div>
</section>