.container-contact {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url('../../../../public/assets/images/bg-contact.jpg') lightgray 50% / cover no-repeat;
  height: 100vh; 
  color: white;
}