<div class="card flex flex-col justify-end items-center w-[240px] h-[308px]  md:w-[340px] md:h-[408px] rounded-[20px] bg-gradient-to-t from-black/20 to-black/20 bg-cover bg-no-repeat shadow-lg relative group"
    [style.backgroundImage]="'url(' + imageUrl + ')'">
  
    <div
        class=" text-hover rounded-[20px] absolute inset-0 md:bg-orange-500/60 sm:backdrop-blur-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300">
    </div>
    
    <div
        class=" absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300 gap-3 ">
        <div class=" hidden  sm:flex md:w-[235px] card-title  text-white font-semibold text-2xl">{{ title }}</div>
        <div class=" hidden  sm:flex md:w-[235px] card-title  text-white font-semibold text-xl">{{ text }}</div>
    </div>

    <div
        class="relative flex-col w-full py-4 rounded-b-[20px] flex px-6 sm:items-center sm:group-hover:opacity-0 transition-opacity duration-300 backdrop-blur-[1px] bg-orange-500/70 ">
        <p class=" text-white font-semibold text-lg">{{ title }}</p>
        <div class=" md:hidden w-[200px] md:w-[235px]  text-white font-semibold text-sm">{{ text }}</div>
    </div> 
   
</div>