.container-about{
  background: #0F0F0E;
  height: 100%;
  color: white;
  
}
@media (min-width: 768px) {
  .animation-1 {
    animation: anim1 2s ease 0s 1 normal forwards;
  }
  .animation-2 {
    animation: anim2 2s ease 0s 1 normal forwards;
  }
  .animation-3 {
    animation: anim3 2s ease 0s 1 normal forwards;
  }
}
@media (max-width: 767px) {
  .animation-mobile {
    animation: anim3 2s ease 0s 1 normal forwards;
  }
}

@keyframes anim1 {
  from {
    transform: translateX(-50px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes anim2 {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes anim3 {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
