.container-home {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("../../../../public/assets/images/bg-home.jpg") lightgray 50% / cover
      no-repeat;
  height: 100vh;
  color: white;
}
